################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebsiteBanApple/FileContentIndex/2fc64fa5-de48-4497-99fa-872abe80d7d6.vsidx
/.vs/WebsiteBanApple/FileContentIndex/77d90afa-68cd-419b-9aab-0900be077e1b.vsidx
/.vs/WebsiteBanApple/FileContentIndex/03e2f8d0-2577-470c-b738-88c8d3dcaa54.vsidx
